* text=auto

**/*.md export-ignore
**/*.yml export-ignore
**/*.yaml export-ignore
**/*.json export-ignore

**/.eslintrc export-ignore
**/.prettierrc export-ignore

**/.gitignore export-ignore
**/.eslintignore export-ignore
**/.prettierignore export-ignore

**/.editorconfig export-ignore
**/.gitattributes export-ignore
